<div class="menu-lateral">
  <div class="menu">
    
    
    <ul class="menu-items">
      <div class="icon-text">
        <img  src="https://i.ibb.co/NyLY8d2/pagina-de-inicio.png"/>
        <a href="/home" >Inicio</a>
      </div> 

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      <li>
        <div class="icon-text">
          <img src="https://i.ibb.co/23c0FhD/verificar.png" />
          <a href="#">Registros</a>
        </div>
      </li>

      <li>
        <div class="icon-text">
          <img src="https://i.ibb.co/HVh32WQ/camara-de-video.png"/>
          <a href="/camara">Tiempo Real</a>
        </div>
      </li>

      <li>
        <div class="icon-text">
          <img src="https://i.ibb.co/MfBYwX6/usuario.png"/>
          <a href="/perfil">Perfil</a>
        </div>
      </li>

      <li>
        <div class="icon-text">
          <img src="https://i.ibb.co/N3gqHCD/configuracion.png"/>
          <a href="#">Configuracion</a>
        </div>
      </li>
      
      
    </ul>
  </div>

  <div class="cerrar-sesion">
      <li>
        <div class="icon-text">
        <img src="https://i.ibb.co/2Fj3KQ4/cerrar-sesion.png"/>
        <a href="/inicio-sesion">Cerrar Sesion </a>
        </div>
      </li>
  </div>
</div>

<div class="camera-interface">
    <div class="display-box">
        <img src="https://i.ibb.co/wS6SmTR/youtube.png" alt="youtube" >
      <h1>Cámara 1</h1>
    </div>
    <div class="button-group">
      <button class="btn">Grabar</button>
      <button class="btn">Tomar Captura</button>
    </div>
  </div>
  