<div class="menu-lateral">
    <div class="menu">
      
      
      <ul class="menu-items">
        <div class="icon-text">
          <img  src="https://i.ibb.co/NyLY8d2/pagina-de-inicio.png"/>
          <a href="/home" >Inicio</a>
        </div> 

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        
        <li>
          <div class="icon-text">
            <img src="https://i.ibb.co/23c0FhD/verificar.png" />
            <a href="#">Registros</a>
          </div>
        </li>

        <li>
          <div class="icon-text">
            <img src="https://i.ibb.co/HVh32WQ/camara-de-video.png"/>
            <a href="/camara">Tiempo Real</a>
          </div>
        </li>

        <li>
          <div class="icon-text">
            <img src="https://i.ibb.co/MfBYwX6/usuario.png"/>
            <a href="/perfil">Perfil</a>
          </div>
        </li>

        <li>
          <div class="icon-text">
            <img src="https://i.ibb.co/N3gqHCD/configuracion.png"/>
            <a href="#">Configuracion</a>
          </div>
        </li>
        
        
      </ul>
    </div>

    <div class="cerrar-sesion">
        <li>
          <div class="icon-text">
          <img src="https://i.ibb.co/2Fj3KQ4/cerrar-sesion.png"/>
          <a href="/inicio-sesion">Cerrar Sesion </a>
          </div>
        </li>
    </div>
  </div>
  
  <div class="contenido">
    <div class="bar">
      <h2>Bienvenido </h2>
      <p>Aqui podras ver los porcentajes de la semana!</p>
    </div>
  
    <div class="container">
        
      <div class="progress-bars">
        <div class="progress-bar">
          <div id="chartWeek"></div>
        </div>
        <div class="progress-bar">
          <div id="chartLastWeek"></div>
        </div>
        <div class="progress-bar">
          <div id="chartLastMonth"></div>
        </div>
      </div>

      <div class="table-container">
        <table>
          <thead>
            <tr>
              <th>Camaras</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Camara 1</td>
              <td style="color: green;">Activo</td>
            </tr>
            <tr>
              <td>Camara 2</td>
              <td style="color: red;">Desactivado</td>
            </tr>
            <tr>
              <td>Camara 3</td>
              <td style="color: green;">Activo</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  